.button-component {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-family: inherit;
  border: none;
  background-color: var(--green-light-color);
  color: var(--white-color);
  font-weight: bold;
  border-radius: 10px;
  transition: .5s;
}

.button-component:hover, .button-component:focus {
  background-color: var(--green-color);
}

