.users-list {
  min-width: 30%;
  background-color: rgb(255, 255, 255); 
  padding: 20px 20px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  list-style: none;
}

.users-list__title {
  font-size: 20px;
  margin-bottom: 20px;
}